@define-color bg    #1a1b26; 
@define-color fg    #a9b1d6; 
@define-color blk   #32344a; 
@define-color red   #f7768e; 
@define-color grn   #9ece6a; 
@define-color ylw   #e0af68; 
@define-color blu   #7aa2f7; 
@define-color mag   #ad8ee6; 
@define-color cyn   #0db9d7; 
@define-color brblk #444b6a; 
@define-color white #ffffff; 

* {

  background: transparent;
  color: @white;

  border: none;
  border-radius: 8;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 20px;
  font-weight: bold;
}

.modules-left {
  background-color: @brblk;
  opacity: 0.8;
  margin-left: 8px;
}

.modules-right {
  background-color: @brblk;
  opacity: 0.8;
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 9px;
  margin: 0px 0 0 0px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
    color: @white;
    border-bottom: 4px solid @cyn;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#custom-expand-icon {
  margin-right: 7px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  background-color: @brblk;
  min-width: 80px;
  opacity: 0.8;
}

.hidden {
  opacity: 1;
}

